.audiosyncPanel{
    position: absolute;
    bottom: 40px !important;
    left: $barWidth;
    width: 345px;
    height: 38px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    background-color: map-get(map-get(map-get($Reader, DayMode), audioBar), background-color);
    z-index: 10;
    .dragAudio {
        background-color: map-get(map-get(map-get($Reader, DayMode), audioBar), audio-drag-background-color);
        height: 100%;
        width: 38px;
        .dragIt {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), audio-drag-icon);
        }
    }
    .play_Pause {
        height: 100%;
        width: 38px;
        @include material;
        .audioToggle {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), play-pause-icon);
        }
    }
    .progressBar {
        width: 136px;
        padding-left: 8px;
        padding-right: 8px;
        .rzslider {
            margin: 0;
            .rz-pointer {
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
                top: -5.5px;
                width: 12px;
                height: 12px;
                &::after {
                    display: none;
                }
            }
            .rz-bar {
                background: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-color);
                height: 2px;
            }
            .rz-bubble {
                display: none;
            }
            .rz-selection {
                background: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
            .rz-tick.rz-selected {
                background: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
        }
    }
    .currentTime {
        width: auto;
        height: auto;
        color: map-get(map-get(map-get($Reader, DayMode), audioBar), current-time);
        font-size: 12px;
        text-align: center;
        @include opensansRegular;
    }
    .toggleSound {
        height: 100%;
        width: 38px;
        @include material;
        .listenIt {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), mute-icon);
        }
    }
    .audioBar {
        width: 75px;
        padding: 0 4px 0 6px;
        md-slider {
            min-width: inherit;
            .md-sign {
                display: none;
            }
            .md-disabled-thumb {
                // display: block;
                border-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
            .md-thumb {
                top: 17px;
                transform: scale(.7) !important;
            }
            .md-thumb:after {
                border-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
            .md-track.md-track-fill {
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
        }
    }
    .closeAudio {
        height: 100%;
        width: 38px;
        @include material;
        .closeIt {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), closeAudio);
        }
    }
}

.audioPanel {
    position: absolute;
    bottom: $barHeight;
    left: $barWidth;
    width: 440px;
    height: 38px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    background-color: map-get(map-get(map-get($Reader, DayMode), audioBar), background-color);
    z-index: 10;
    .dragAudio {
        background-color: map-get(map-get(map-get($Reader, DayMode), audioBar), audio-drag-background-color);
        height: 100%;
        width: 38px;
        .dragIt {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), audio-drag-icon);
        }
    }
    .play_Pause {
        height: 100%;
        width: 38px;
        @include material;
        .audioToggle {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), play-pause-icon);
        }
    }
    .progressBar {
        width: 136px;
        padding-left: 8px;
        padding-right: 8px;
        .rzslider {
            margin: 0;
            .rz-pointer {
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
                top: -5.5px;
                width: 12px;
                height: 12px;
                &::after {
                    display: none;
                }
            }
            .rz-bar {
                background: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-color);
                height: 2px;
            }
            .rz-bubble {
                display: none;
            }
            .rz-selection {
                background: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
            .rz-tick.rz-selected {
                background: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
        }
    }
    .currentTime {
        width: auto;
        height: auto;
        color: map-get(map-get(map-get($Reader, DayMode), audioBar), current-time);
        font-size: 12px;
        text-align: center;
        @include opensansRegular;
    }
    .toggleSound {
        height: 100%;
        width: 38px;
        @include material;
        .listenIt {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), mute-icon);
        }
    }
    .audioBar {
        width: 75px;
        padding: 0 4px 0 6px;
        md-slider {
            min-width: inherit;
            .md-sign {
                display: none;
            }
            .md-disabled-thumb {
                // display: block;
                border-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
            .md-thumb {
                top: 17px;
                transform: scale(.7) !important;
            }
            .md-thumb:after {
                border-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
            .md-track.md-track-fill {
                background-color: map-get(map-get(map-get($Reader, DayMode), Thumbnail_Slider), slider-filled-color);
            }
        }
    }
    .closeAudio {
        height: 100%;
        width: 38px;
        @include material;
        .closeIt {
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), closeAudio);
        }
    }
    .prev_button,.next_button{
        margin:0;
        padding:0;
        width :20px;
        height: 100%;
        width: 38px;
        @include material;
        .prev_bttn ,.next_bttn{
            height: 100%;
            width: 100%;
            line-height: 38px;
            color: map-get(map-get(map-get($Reader, DayMode), audioBar), play-pause-icon);
        }
    }
}

.wide-audio-panel{
    width:500px;
}

.next_prev_arrow {
    height: inherit;
}