.readAloud {
    width: 562px;
    height: auto;
    background-color: #ffffff;
    border: solid 1px #095e8e;
    max-height: none;

    h2 {
        font-size: 22.6px;
        color: #333333;
        @include opensansLight;
    }

    .close-icon {
        line-height: 24px;
        color: #333333;
        font-size: 16px;
    }

    .materialIcon {
        margin: 0;
        padding: 0;
        min-height: 0;
        min-width: 0;
        text-transform: none;

        md-icon {
            fill: none;
            color: map-get(map-get(map-get(map-get(map-get($Reader, DayMode), main), toolbar), side_bottom), icons-color);
        }
    }

    .readAloudOption {
        width: 100%;

        .readAloudButton {
            height: 72px;
            width: 72px;
            border-radius: 50%;
            border: solid 2px #095e8e;
            margin-bottom: 14px;

            md-icon {
                font-size: 36px;
            }
        }

        h6 {
            font-size: 14px;
            color: #333333;
            text-align: center;
            margin: 0;
            @include opensansRegular;
        }

        p {
            opacity: 0.8;
            font-size: 12px;
            color: #333333;
            text-align: center;
            @include opensansLight;
        }
    }

    .adjustment {
        position: relative;
        bottom: 8px;
    }
}